img{
    width: 100%;
}
.home{
    width: 100%;
    background-color: #3DBDFC;
    background-image: url('../images/desktop/image-header.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 40px;
}
.logo{
    font-size: 26px;
    flex: 1 1 auto;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding-right: 40px;
}
nav ul li a{
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.hero{
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.hero h1{
    font-size: 67px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;
}
.hero img{
    width: 26px;
}
.hamburger{
    display: none;
    width: 30px;
    background: white;
}
.close{
    display: none;
    width: 24px;
    position: absolute;
    right: 20px;
    top: 25px;
}
@media screen and (max-width: 992px) {
    .hamburger{
        display: block;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: white;
        text-align: center;
        left: 0;
        top: -100%;
        padding: 40px;
        transition: 1s;
        li{
            padding: 25px;
            a{
                color: black;
            }
        }
        .btn-default{
            background-color: #3DBDFC;
            color: white;
        }
        .btn-default:hover{
            background: rgba($color: #3DBDFC, $alpha: .5);
        }
    }
    .close{
        display: block;
    }
    .top{
        top: 0;
    }
    .hero h1{
        font-size: 52px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
   
}
@media screen and (max-width: 767px) {
     .home{
        background-image: url('../images/mobile/image-header.jpg');
    }
}